langchain
langchain-community
langchain-text-splitters
langchain-qdrant
bs4
langchain_groq
langchain_core
huggingface_hub
wikipedia
langchain-huggingface
sentence-transformers
flask
flask-cors
python-dotenv
qdrant-client
qdrant-client[fastembed]	
faster_whisper
sounddevice
numpy
pypdf
# pyttsx3
edge-tts
pydub