langchain
langchain_community
langchain-text-splitters
langchain_qdrant
bs4
langchain_groq
langchain_core
huggingface_hub
wikipedia
langchain_huggingface
sentence_transformers
flask
flask-cors
python-dotenv
qdrant-client
qdrant-client[fastembed]	
faster_whisper
sounddevice
numpy